// Import all style variables and constants.
@import "../../app.scss";

.home {
  h1 {
    text-align: center;
  }

  .jumbotron {
    height: 400px;
    width: 100%;
    background-color: $primary;
  }
}
